<package-def>
	<module name="ВыполнениеДействий" file="src/ВыполнениеДействий.os" />
	<module name="НастройкаПриложения" file="src/config/НастройкаПриложения.os" />
	<module name="ВыводЛога" file="src/logging/ВыводЛога.os" />
	<module name="ЗамерВремени" file="src/logging/ЗамерВремени.os" />
	<module name="РаботаССервернымиБазами" file="src/server/РаботаССервернымиБазами.os" />
	<class name="КонфигурацияПриложения" file="src/config/КонфигурацияПриложения.os" />
	<class name="ОписаниеБазы" file="src/config/ОписаниеБазы.os" />
	<class name="РаскладкаСообщенияЛога" file="src/logging/РаскладкаСообщенияЛога.os" />
</package-def>