<package-def>
	<module name="ВыполнениеДействий" file="src/ВыполнениеДействий.os" />
	<module name="СобытияПриложения" file="src/config/СобытияПриложения.os" />
	<module name="ВыводЛога" file="src/logging/ВыводЛога.os" />
	<module name="РаботаССервернымиБазами" file="src/server/РаботаССервернымиБазами.os" />
	<module name="РаботаСSQL" file="src/server/РаботаСSQL.os" />
	<module name="РаботаСПочтой" file="src/mail/РаботаСПочтой.os" />
	<class name="КонфигурацияПриложения" file="src/config/КонфигурацияПриложения.os" />
	<class name="ОписаниеБазы" file="src/config/ОписаниеБазы.os" />
	<class name="ЗамерВремени" file="src/logging/ЗамерВремени.os" />
	<class name="РаскладкаСообщенияЛога" file="src/logging/РаскладкаСообщенияЛога.os" />
	<class name="ОписаниеУчетнойЗаписиПочты" file="src/mail/ОписаниеУчетнойЗаписиПочты.os" />
	<class name="ОписаниеFTPСоединения" file="src/ftp/ОписаниеFTPСоединения.os" />
</package-def>